/* Цвета
Белый: #fff
Полупрозрачный белый: #d7ccc0
Светлый: #f5f4f0
Основной: #fe8a02
Основной тёмный: #42413c
Тёмный: #2a2626
Полупрозрачный тёмный: #908d8b
Коричневый: #b09a81
Синий: #1085c5 */

:root {
  --color-white: #fff;
  --color-white-translucent: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-translucent: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

body {
  margin: 0;
  padding: 0;

  color: var(--color-dark);
  font-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height: 1.6em;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.cd-programming {
  position: relative;

  min-height: 914px;

  overflow: hidden;
}

.posrel {
  position: relative;
  z-index: 1;

  margin-bottom: 185px;

  column-span: all;
}

.bg {
  background-color: var(--color-light);
}

.bg::before {
  position: absolute;
  left: 50%;

  /* width: 1350px;
  height: 914px; */

  width: 1440px;
  height: 955px;

  background: url("../image/background.png") center/cover no-repeat;
  transform: translateX(-50%);
  opacity: 0.1;

  content: "";
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  color: var(--color-main);

  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  color: var(--color-dark-translucent);

  font-size: 24px;
}

h5 {
  color: var(--color-white);

  font-size: 14px;
}

p {
  margin-top: 0;
  padding-top: 0;
}

.color-dark {
  color: var(--color-dark);
}

.color-main {
  color: var(--color-main);
}

.color-white {
  color: var(--color-white);
}

.color-brown {
  color: var(--color-brown);
}

.color-white-translucent {
  color: var(--color-white-translucent);
}

.bg-color-brown {
  background: var(--color-brown);
}

.bg-color-white {
  background-color: var(--color-white);
}

.cd-programming-img {
  position: absolute;
  top: 55px;
  right: -103px;

  height: 525px;
}

.cd-programming-col-text p:last-of-type {
  margin-bottom: 40px;
}

.cd-programming-col-text p:nth-child(1) {
  break-inside: avoid;
}

.cd-programming-link {
  position: relative;

  padding: 12px 24px;

  color: var(--color-white);

  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--color-main);
}

/* ВТОРАЯ СЕКЦИЯ */

.about-video {
  position: relative;

  z-index: 1;
}

.about-video .container {
  padding-bottom: 0;
}

.about-video-h2 {
  margin-bottom: 30px;

  text-align: center;
}

.about-video-subtitle {
  margin-bottom: 30px;
  margin-bottom: 500px;

  text-align: center;
}

.video {
  position: absolute;
  top: 330px;
  left: 50%;

  display: block;

  margin: 0 auto;

  transform: translateX(-50%);

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* ТРЕТЬЯ СЕКЦИЯ */

.navigation {
  min-height: 991px;

  background-color: var(--color-main-dark);
}

.navigation .container {
  padding-top: 200px;
}

.navigation-item-main-title {
  font-size: 52px;
  font-family: Neucha, cursive;
}

.d-flex {
  display: flex;
}

.grid-gap-20-30 {
  grid-gap: 20px 30px;
}

.jc-space-between {
  justify-content: space-between;
}

.f-wrap {
  flex-wrap: wrap;
}

.navigation-item-main {
  line-height: 60px;
}

.navigation-item {
  display: block;
  width: 350px;
  height: 348px;

  padding: 24px;

  text-decoration: none;
}

.navigation-item:nth-child(1) {
  height: 325px;
}

.navigation-item:nth-child(2) {
  height: 325px;
}

.navigation-item:nth-child(3) {
  height: 325px;
}

.pg-0 {
  padding: 0;
}

.bg-color-lite {
  background-color: var(--color-light);
}

.navigation-item-title {
  margin-bottom: 40px;

  color: var(--color-main-dark);

  font-size: 64px;
  font-family: Neucha, cursive;

  line-height: 64px;
}

.navigation-item-subtitle {
  padding-bottom: 14px;

  color: var(--color-main);
}

.navigation-item-text {
  color: var(--color-main-dark);
}

/* ЧЕТВЁРТАЯ СЕКЦИЯ */

.ikea-effect {
  min-height: 905px;
}

.col-2 {
  column-count: 2;
  column-gap: 30px;
}

.img-shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.title-box {
  font-family: Neucha, cursive;
  line-height: 1;
}

.ml-40 {
  margin-left: 40px;
}

.subtitle-col {
  margin-bottom: 30px;

  font-size: 60px;

  line-height: 1.2;
}

.text-col {
  font-size: 34px;
  line-height: 1.2;
}

.mb-100 {
  margin-bottom: 94px;
}

.mb-20 {
  margin-bottom: 20px;
}

.line-col {
  height: 26px;

  padding: 5px 0 5px 10px;

  font-weight: 700;
  font-size: 14px;

  line-height: 1.1;

  text-transform: uppercase;
}

.break > div {
  line-height: 25px;
}

.break > div:nth-child(2) {
  break-inside: avoid;
}

/* ПЯТАЯ СЕКЦИЯ */

.premature-optimization {
  position: relative;

  min-height: 855px;
}

.img-r-r {
  position: relative;
  right: 22px;
}

/* ШЕСТАЯ СЕКЦИЯ */

.distortion-of-novelty {
  position: relative;
}

/* СЕДЬМАЯ СЕКЦИЯ */

.hyperbolic-depreciation {
  position: relative;
}

/* ВОСЬМАЯ СЕКЦИЯ */

.errors-in-planning {
  position: relative;
}

/* FOOTER */

.footer {
  position: relative;

  background-color: var(--color-white);
}

.send-box {
  height: 190px;
  margin-bottom: 60px;

  background-color: var(--color-main-dark);
}

.footer-h3 {
  padding: 55px 0 55px 55px;
  break-inside: avoid;

  color: var(--color-white);
}

.form-box {
  padding: 40px 0;

  color: var(--color-white);
}

.form-input {
  min-width: 423px;
  height: 50px;
  padding: 15px;
}

::placeholder {
  color: #757575;

  opacity: 0.5;
}

.input-text-up {
  font-size: 18px;
}

.input-text-down {
  font-size: 12px;
}

.input-text-down > a {
  color: var(--color-white);
}

button {
  position: relative;
  top: -4px;
  right: 4px;
  z-index: 1;

  width: 70px;
  height: 50px;

  margin: 0;
  padding: 0;

  background-color: var(--color-main);
  border: none;

  cursor: pointer;
}

button::before {
  position: absolute;
  top: 15px;
  right: 21px;
  z-index: 100;

  width: 24px;
  height: 24px;

  background: url("../image/send.svg") center / cover no-repeat;

  content: "";
}

.footer-down {
  font-size: 14px;
  text-align: center;
}

.footer-down > div:not(:last-child) {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}
